.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
    ),
     url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg9.51tietu.net%2Fpic%2F2019-091402%2F5lp3ya032h05lp3ya032h0.jpg&refer=http%3A%2F%2Fimg9.51tietu.net&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654689983&t=f46aedcc9c4c393fbd89bdb0f24e801d");
     background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: lightcoral;
    border: none;
    color: white;

}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    border-radius: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
}